*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  background: rgba(224, 224, 223, 0.541);
}

.container {
  position: relative;
}

.head {
  background: linear-gradient(to left, rgb(79, 54, 136), rgb(45, 206, 206));
  height: 35%;
  box-shadow: 0 2px 5px;
  animation: head 2s 1;
}

@keyframes head {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.section {
  height: 50%;
  margin-top: 2em;
}


 
