.budget {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.total-budget {
  display: grid;
  width: 25rem;
  margin: .5em;
}

.budget-header {
  justify-self: center;
  margin-bottom: .4em;
  text-shadow: 2px 2px 1px rgb(9, 197, 9);
}

.fa-hand-point-down {
  font-size: 20px;
  color: rgba(12, 12, 100, 0.692);
}

.budget-value {
  justify-self: center;
  margin-bottom: .3em;
}

.budget-inc, .budget-exp {
  margin: .3em;
  padding: .3em 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 60%;
  border-top: 1px solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.total-income {
  text-transform: uppercase;
}

.total-inc_value, .total-exp_value {
  justify-self: end;
}

.total-expenses {
  text-transform: capitalize;
}



